html(xmlns="http://www.w3.org/1999/xhtml", xmlns:v="urn:schemas-microsoft-com:vml", xmlns:o="urn:schemas-microsoft-com:office:office", xmlns:w="urn:schemas-microsoft-com:office:word")
    head !{head}

    body(bgcolor='#ffffff')
        table.body-wrap(width='100%', cellpadding='0', cellspacing='0', border='0')
            tr
                td.container(align='center')
                        table.email(width='100%', cellpadding='0', cellspacing='0', border='0')
                            tr
                                td.logo(valign='middle')
                                    <img style="width: 38px; height: 38px; margin: 0px; padding: 0px;" alt="" width="38" height="38" src="https://files.mobilepractice.io/images/favicon/android-icon-192x192.png" />
                            tr 
                                td(width='100%', height='20px')
                            tr
                                td.title(bgcolor='#d0cece', valign='top')
                                    p Hi #{userFirstName},
                                    p !{titleText}
                            tr 
                                td(width='100%', height='10px')
                                    
                            tr
                                td.content(valign='top')
                                    table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                        tr(valign='center')
                                            td
                                                table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                                    tr
                                                        td(width='32')
                                                            table(width='100%', cellpadding='0', cellspacing='0', border='0')
                                                                tr
                                                                    !{avatar}
                                                        td(style='padding-left: 10px')
                                                            !{contentTitle}
                                                            p.description Description: 
                                                                span #{description}
                                        tr
                                            td
                                                table.boxs(width='100%', cellpadding='0', cellspacing='0', border='0')
                                                    tr
                                                        td.box.left(valign='top', width='50%', bgcolor='#d0cece')
                                                            table
                                                                tr(valign='top')
                                                                    td.head Steps:
                                                                    td.body !{steps}
                                                        td.box.right(valign='top', width='50%', bgcolor='#d0cece')
                                                            table
                                                                tr(valign='top')
                                                                    td.head Criteria:
                                                                    td.body !{criterias}
                                        tr 
                                            td(width='100%', height='20px')
                                        tr
                                            td(align='center')
                                                table(border='0', cellspacing='0', cellpadding='0')
                                                    tr
                                                        td !{botton}