| Bonjour #{userFirstName},
| #{''}
| Voici votre lien de connexion:
| #{link}
| #{''}
| Remarque : ce lien n’est utilisable qu’une seule fois.
| #{''}
| Merci,
| L'équipe Mobile Practice
| www.mobilepractice.io